@charset "UTF-8";

body {
    background-image:url(../images/bg_dot.gif),url(../images/main_bg.jpg);
    background-repeat:repeat, no-repeat;
    background-size:auto, cover;
    background-position:center;
    min-width:1200px;
}

/* header */
#header{min-width:1200px}
.util_menu_wrap{background: #0044af;}
.util_menu{width: 1200px;margin: 0 auto;}
.left{float: left;}
.right{float: right;}

.left li{float: left;margin-right:2px;}
.left a{
    display: block;text-align: center;line-height: 40px;
    background: #00163b;color:#fff;width: 120px;
}
.left a.active,
.left a:hover{background: #fff;color: #333;}

.right li{float: left;}
.right a{
    display: block;line-height: 40px;color:#fff;padding: 0 10px;
}
.right li:nth-child(2) a{
    float: left;background: #fff;color:#000;
    line-height: 20px;width: 20px;padding: 0;text-align: center;margin-right:2px;
    margin-top: 10px;
}

.gnbWrap {
    width:100%; height: 116px;
    background-color:white;
}
.gnbWrap .gnb {
    width:1200px; height:116px;
    margin:0 auto;
}
.gnbWrap .gnb .logo {  
    float:left;
    background: url(../images/logo.png); background-repeat: no-repeat; background-position:left;
}
.gnbWrap .gnb .logo a {
    display:block;
    width:220px; height:116px;
}
.gnbWrap .gnb .menu { float:right; }
.gnbWrap .gnb .menu ul li { float:left; }
.gnbWrap .gnb .menu ul li a {
    display:block;
    height:116px;
    padding-left:30px;
    font-size:20px; color:#595959; font-weight:500;
    display:flex; justify-content:center; align-items:center;
}
.gnbWrap .gnb .menu ul li:hover a { color:black; }

/* section1  */
.section1 {
    width:1200px; height:260px;
    margin:0 auto;
}
.section1 .leftWrap {
    float:left;
    padding: 80px 0 50px 0;
}
.section1 .rightIconWrap {
    float:right;
    height:260px;
    padding-top:120px;
}
.section1 .rightIconWrap ul li {
    float:left;
    padding-left:20px;
}
.section1 .rightIconWrap ul li a {
    display:block;
}
.section1 .rightIconWrap ul li a img {
    display: block;
    margin-bottom:10px;
}

/* section2  */
#section2 {
    width:1200px;
    margin:0 auto; margin-bottom:20px;
}
#section2 ul li {
    float: left;
    width: 25%; height:225px;
}



/* vBxslider  */
#section2 ul li.vBxslider { width:900px; height:450px;}
#section2 ul li.vBxslider .vBxsliderWRap div { width:900px; height: 450px; }
#section2 ul li.vBxslider .vBxsliderWRap .slideImg1 { background-image:url(../images/girl_bg.jpg); }
#section2 ul li.vBxslider .vBxsliderWRap .slideImg2 { background-image:url(../images/girl_bg.jpg); }
#section2 ul li.vBxslider .vBxsliderWRap .slideImg3 { background-image:url(../images/girl_bg.jpg); }
#section2 ul li.vBxslider .vBxsliderWRap .slideImg4 { background-image:url(../images/girl_bg.jpg); }
.txtWrap { position: absolute; left:100px; top:84px; }
.vBxsliderWRap p { margin-bottom:30px; }
.vBxsliderWRap .btn {
    font-size:14px;
    padding-top:12px; padding-bottom:12px;
    padding-left:30px; padding-right:30px;
    color:white;
    background-color: #00163B;
}
.vBxsliderWRap .btn span{ padding-left:10px; }

/* smartApp  */
#section2 .smartApp {
    width:25%; height:450px;
    background-image:url(../images/book\ 1.png);  
    position: relative; 
}
#section2 .smartApp .boxWrap {
    position: absolute; left:40px; top:60px;
}
#section2 .smartApp .boxWrap .title {
    padding-bottom:20px;
}
#section2 .smartApp .boxWrap .smartAppSentance {
    color :white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    padding-bottom:40px;
}
#section2 .smartApp .boxWrap a {
    font-size:14px;
    padding-top:12px; padding-bottom:12px;
    padding-left:30px; padding-right:30px;
    color:white;
    background-color:rgba(0, 0, 0, 0.7);
    border:1px solid white;
}
#section2 .smartApp .boxWrap a span{ padding-left:10px; }

/* HOTLINK  */
#section2 ul li.hotlink {
    background-color:#00163b;
    padding:30px;
}
#section2 ul li.hotlink .hotlinkWrap .title {
    font-family:'Roboto', sans-serif;
    color:white; font-size:24px;
    margin-bottom:30px;
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon {
    width:220px; height:100%;
    
    margin:0 auto;
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap {
    float:left;
    margin-left: 20px;
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap:first-child { margin-left:0; }

#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap a {
    display: block;
    width:60px; height:60px;
    background-repeat:no-repeat;
    margin-bottom:10px;
    cursor: pointer;
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap:nth-child(1) a {
    background-image:url(../images/section_icon1.png);
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap:nth-child(2) a {
    background-image:url(../images/section_icon2.png);
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap:nth-child(3) a {
    background-image:url(../images/section_icon3.png);
}
#section2 ul li.hotlink .hotlinkWrap .hotlinkIcon .hotlinkIconWrap p { width:60px; }

/* 공지사항  */
#section2 ul li.notice {
    background-image:url(../images/section02_bg.jpg);
    padding:20px;
}

#section2 ul li.notice .noticeTitle {
    font-family:'Roboto', sans-serif;
    color:white; font-size:20px;
    font-weight: bolder;
    margin-bottom:20px;
}
#section2 ul li.notice hr {
    margin-bottom: 20px;
}
#section2 ul li.notice .noticeContent {
    color:white; 
    font-size:13px;
    text-align: left;
}


/* NEWS  */
#section2 ul li.news .noticeNews {
    font-family: sans-serif;
    color: #02163E; font-size:20px;
    font-weight: bolder;
    padding: 15px;
}
#section2 ul .news {
    width: 300px; height: 225px;
    padding-left:20px; padding-right:20px;
    padding-top:10px;
    background-color: white;
}
#section2 ul .news .newsWrap {
    position:relative;
}
#section2 ul .news .newsWrap .title { color:#01183a; }
#section2 ul .news .newsWrap .contents { margin-bottom: 20px; }
#section2 ul .news .newsWrap .contents .img {
    float:left;
    width:116px; height:80px;
    background:url(../images/school1.png) no-repeat center;
}
#section2 ul .news .newsWrap .contents .txt {
    display: block;
    float:right;
    width:130px; height:80px;
    color:#4c4c4c;
    font-size:14px;
    line-height:20px;
}
#section2 ul .news .newsWrap .contents .txt:hover {
    color:#01183a; 
}
#section2 ul .news .newsWrap .sns {
    position: absolute; right:0;
}
#section2 ul .news .newsWrap .sns div {
    float: left; 
    margin-left:4px;
}
#section2 ul .news .newsWrap .sns div a {
    display: block;
    width: 30px; height:30px; 
}
#section2 ul .news .newsWrap .sns div:nth-child(1) a {
    background:url(../images/facebook.png) no-repeat center;
}
#section2 ul .news .newsWrap .sns div:nth-child(2) a {
    background:url(../images/twitter.png) no-repeat center;
}
#section2 ul .news .newsWrap .sns div:nth-child(3) a {
    background:url(../images/google.png) no-repeat center;
}
#section2 ul .news .newsWrap .sns div:nth-child(4) a {
    background:url(../images/youtube.png) no-repeat center;
}



/* TOUR  */
#section2 ul .tour {
    width: 25%;
    position: relative;
}
#section2 ul .tour .mask {
    width:100%; height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute; left:0; top:0;
    z-index:1;
    cursor: pointer;
    transition: 0.3s;
}
#section2 ul .tour a {
    display: block;
    width: 100%; height: 100%;
    background:url(../images/school2.png);
    left:0; top:0;
}
#section2 ul .tour a .campusTour {
    height: 53px; width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; left:0; bottom:0;
    color:white; font-size:18px; line-height:53px; text-align: center;
}
    
/* MOVIE  */
#section2 ul .movie {
    width:25%;
    background:url(../images/soccer\ 1.png);
    display:flex; justify-content: center; align-items: center;
}
#section2 ul .movie a {
    display:block;
    width: 62px; height: 62px;
    background:url(../images/playbutton.png) no-repeat center;
}


/* rBxslider 영역 */
#section2 ul .rBxslider {
    width:75%;
    background-image: url(../images/man.jpg);
}

/* notcie 영역 */
#nBxSlider {
    width:1200px; height:60px;
    background-color:white; 
    margin:0 auto; margin-bottom:70px;
}
#nBxSlider div { float:left; }
#nBxSlider .te {
    width:300px; height: 60px;
    border-right:2px solid lightgrey;
    float:left;
}
#nBxSlider .te .title {
    width: 50%; height: 60px;
    text-align: center; line-height:60px;
}
#nBxSlider .te .date {
    width: 50%; height:60px;
    text-align: center; line-height:60px;
}
#nBxSlider .te .date span {
    display:inline-block; width: 15px; height: 15px;
}
#nBxSlider .te .date .prevBtn {
    background:url(../images/prev_button.jpg) no-repeat center;
    margin-right:10px;
}
#nBxSlider .te .date .nextBtn {
    background:url(../images/next_button.jpg) no-repeat center;
    margin-left:10px;
}
/* notice bxSlider start */
#nBxSlider .slide {
    width: 900px; height: 60px;
}
#nBxSlider .slide .slideWrap .slide_1 {
    width: 900px; height: 60px;
}
#nBxSlider .slide .slideWrap div a {
    display: block;
    width: 900px; height: 60px;
    display: flex;
    justify-content: center; align-items: center;
}
#nBxSlider .slide .slideWrap div a .subject {
    display: inline-block;
    width:300px;
    text-align:center;
    font-size:15px;
    font-weight:bold;
}
#nBxSlider .slide .slideWrap div a .sentence {
    display: inline-block;
    width:550px;
    font-size:14px;
    overflow: hidden;
}
/* footer 영역 */
#footer {
    background-color: white;
}
#footer .footerWrap { 
    width:1200px; height:165px;
    margin:0 auto; 
}
#footer .footerWrap .logo { 
    width:300px; height:165px;
    float:left;
    background: url(../images/logo.png) no-repeat center;
}
#footer .footerWrap .content { 
    width:900px; height:165px;
    float:left;
    padding-top:30px;
}
#footer .footerWrap .content .utilMenu ul li { 
    float:left;
}
#footer .footerWrap .content .utilMenu ul li a { 
    display: block;
    padding:10px 20px;
    color:#444444;
    font-size:14px;
    position: relative;
}
#footer .footerWrap .content .utilMenu ul li a::after { 
    content: "";
    display:block;
    width:1px; height: 10px;
    background-color: black;
    position: absolute; right:0; top:14px;
}
#footer .footerWrap .content .utilMenu ul li:first-child a {
    padding-left:0;
}

#footer .footerWrap .content .utilMenu ul li:last-child a::after { 
    content: "";
    display:block;
    width:1px; height: 10px;
    background-color:white;
    position: absolute; right:0; top:8px;
}

address {
    color:#6b6b6b; font-size:12px; line-height:16px;
    font-style: normal;
    margin-bottom:6px;
}
.copyright {
    color:#676767; font-size:13px;
} 