@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}

#header {margin: 0 auto;}

.hWrapT{
    _background: #fff;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    padding:  40px 0;


}

.hWrapT.subH{
  position: inherit;
  top: inherit;
  left: inherit;
  transform: inherit;
  width: 100%;
  background: #020D21;
}
.hNav{
    width: 1240px; margin:0 auto;

}

  .hWrapT.fixed{ position: fixed;  top: 0; background: #020D21;
      left: inherit; top: inherit; transform:inherit; }
.logo {  width: 253px;
    height: 85px; float: left; }
.logo > h1 {  }
.logo > h1 > a {
    width: 253px;
    height: 85px;
    background:url(../images/logo-victor.png);
    background-size:100%;
    background-repeat: no-repeat;
    text-indent:-9999px;display: block;
    margin-top: 20px;

}

.menuTop {float: right;}
.menuTop li {float: left; }
.menuTopN > li  >a { display: block; font-size: 18px;
line-height: 90px;font-style: normal;
font-weight: bold; color: #fff; margin-left: 40px;}

.sliderM { margin: 0 auto; width: 100%;  position: relative; }
/* .sliderM .slider li.st1 img,
.sliderM .slider li.st2 img,
.sliderM .slider li.st3 img{ width: 100%; height: 870px;} */
.sliderM  li.st1 {
  background-image:url(../images/vtBanner2\ 2.png);
  background-size: cover; background-position: center;
  background-repeat: no-repeat;
  height: 870px;
  width: 100%;
}
.sliderM  li.st2 {
  background-image:url(../images/vtBanner1.png);
  background-size: cover; background-position: center;
  background-repeat: no-repeat;
  height: 870px;
  width: 100%;
}
/* .sliderM  li.st3 {
  background-image:url(../images/vtBanner3.png);
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  height: 870px;
} */
.nextBtn, .prevBtn { position:absolute;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer; }
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;

}
.nextBtn { right:70px; }
.prevBtn {left: 70px;}


.sliderM .bx-wrapper, .sliderS1 .bx-wrapper  {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;}
  .sliderM .bx-wrapper {

    margin-bottom: 0;}
.toggleMenu{
  width: 50px; height: 50px;

  position: absolute;
  cursor:pointer;
  right: 12px; top: 0;
  display: none;
}
.toggleMenu div{
  width: 34px;height: 5px;
  background: rgb(134, 134, 134);
  border-radius:4px;
  position: absolute;
  left:50%; transform:translateX(-50%);
  transition:0.3s

}
.bar1{top:11px}
.bar2{top:22px;}
.bar3{top:33px;}

.toggleMenu.change .bar1{
  left:50%;top:50%;transform:translate(-50%,-50%) rotate(-45deg)
}
.toggleMenu.change .bar2{
  opacity:0
}
.toggleMenu.change .bar3{
  left:50%;top:50%;transform:translate(-50%,-50%) rotate(45deg)
}

.snsList { display: none;}
  .pcV { display: block;}
  .moV {display: none;}

/* content */

.content{position: relative; background: #fff; height: 1010px;}
.content .contList{
  width: 1240px; margin: 0 auto; display: flex; flex-wrap:wrap;
  position: absolute; left:50%;transform: translateX(-50%);top:-310px
}

.content .contList > li {width: 25%; height: 310px; }
/* .content .contList > li:nth-child(2n+1) {background: skyblue;} */
/* .content .contList > li:nth-child(3n+1) {background: pink;} */
.content .contList > li:nth-child(1) {background: #B4D2FF;}
.content .contList > li:nth-child(2) {}
.content .contList > li:nth-child(3) {width: 50%; background: #c0c0c9;color: #fff;}
.content .contList > li:nth-child(4) {background: #86B4F9;}
.content .contList > li:nth-child(5) {background: #436290;}
.content .contList > li:nth-child(6) {width: 50%;}
.content .contList > li:nth-child(7) {height: 620px;  }
.content .contList > li:nth-child(8) {width: 50%;}
.content .contList > li:nth-child(9) {background: #143058;}
.content .contList > li:nth-child(10) {position: absolute; bottom: 0;left: 310px; background: #36465C;}
.content .contList > li:nth-child(11) {width: 50%; position: absolute; right: 0;bottom: 0; }



.content .contList .section1 {
display: flex; justify-content: center;
align-items: center; }
.content .contList .section1 img { margin-bottom: 24px;                }
.content .contList .section1 p { text-align: center; color: #fff; font-weight: bold; font-size: 18px;
}

.content .contList .sec2V3{
  background-image: url(../images/vtRaket.png);
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.content .contList .sec2V3 .txtWrap h3{
   font-weight: 700px; font-size: 36px;line-height: 36px; color: #fcfcfc;
}

.content .contList .sec2V3 .txtWrap h3:after{
  content:""; display: block; height: 2px; background: #ffffff;width: 38px;
margin: 28px 0; }

.content .contList .sec2V3 .txtWrap p{
  font-weight: bold; font-size: 18px; color: #ffffff;
}

.content .contList .sec3V1{
  background-image: url(../images/vtplayer1.png);
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.content .contList .sec3V1 .sec3Txt1 h3{
   font-weight: 700px; font-size: 36px;line-height: 36px; color: #fff;
}

.content .contList .sec3V1 .sec3Txt1 h3:after{
  content:""; display: block; height: 2px; background: #fff; width: 38px;
margin: 28px 0; }

.content .contList .sec3V1 .sec3Txt1 p{
  font-weight: bold; font-size: 18px; color: #FFF;
}

.content .contList .sec3V2{
  background-image: url(../images/vtSuttle.png);
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.content .contList .sec3V2 .sec3Txt2 h3{
   font-weight: 700px; font-size: 36px; line-height: 36px; color: #FFF;
}

.content .contList .sec3V2 .sec3Txt2 h3:after{
  content:""; display: block; height: 2px; background: #FFF; width: 38px;
margin: 28px 0; }

.content .contList .sec3V2 .sec3Txt2 p{
  font-weight: bold; font-size: 18px; color: #FFF;
}
.content .contList .sec4V1{
  background-image: url(../images/vtRetail\ 1.png);
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.content .contList .sec4V1 .sec4Txt1 h3{
   font-weight: 700px; font-size: 36px; line-height: 36px; color: #fff;
}

.content .contList .sec4V1 .sec4Txt1 h3:after{
  content:""; display: block; height: 2px; background: #fff; width: 38px;
margin: 28px 0; }

.sliderS1 {position:relative;}
.sliderS1 .txt1Ts{ width: 310px; display: block; float: left;; padding: 84px 25px;}
.sliderSc2 div.txt1Ts:after {
  content: "";display: block;border-width: 30px;
  position: absolute;right: 870px;top: calc(50% - 50px);
  border-style: solid; 
  border-color:transparent transparent transparent #C0C0C9;
  
}



.sec1v3 > h3 { font-size: 36px; z-index: 1;position: absolute; padding: 25px; line-height: 36px;}



.modal { position: relative;
}

.modal img.in{ position: absolute;top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
 .modal .bg {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        position: absolute;
        transform: scale(0.7);
        transition: .3s;
    }
    .modal:hover .bg{opacity:0.5;transform:scale(1)}



/* vision */


.vision{ width: 100%; height: 720px;
background-image: url(../images/vtplayer_bg\ _dark.png);

background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
background-attachment: fixed;
justify-content: center;
align-items: center;
padding: 74px;
}

.vision ul.vSec{ width: 1240px; margin: 0 auto;}
.vision > P { color: #fff; font-weight: bold; font-size: 18px; text-align: center; width: 100%; }
.vision > h2 {color: #fff; font-weight: bold; font-size: 50px; text-align: center; display: block; margin-bottom: 84px;}
.vision .txtVis{ color: #fff; text-align: center;}
.vision li {  float: left;width:calc( ( 100% - 60px ) / 3 );
  height: 380px;padding-top:70px;border-radius: 10px;transition:0.3s;cursor:pointer
}
.vision li:hover{
  box-shadow:10px 10px 12px rgba(0,0,0,0.8);transform:translate(-10px,-10px)
}
.vision li + li{margin-left:20px;}

.vision li img{display: block;margin: 0 auto; margin-bottom: 10px;}

.txtVis > h3 { margin-bottom: 20px;font-weight: bold; font-size: 24px;}
.txtVis > p { font-weight: bold; font-size: 18px;}


.content2 {  height: 780px; background: #fff; padding: 80px 0; }

.cont2List {width: 1240px; margin: 0 auto; }

.content2 .cont2List li{ width: 310px;  height: 310px;float: left; background: #E7E7E7;}
.content2 .cont2List li:first-child{height: 620px; background: #222c41;  }
.content2 .cont2List li>img{cursor: pointer;}


.cont2List .cont2s1:after {
  content: "";display: block;border-width: 30px;
  position: absolute;right: 870px;top: calc(50% - 50px);
  border-style: solid; 
  border-color:transparent transparent transparent #C0C0C9;
}

.cont2s1 {padding: 80px;  color: #fff;}
.cont2s1 img { margin-bottom: 22px;}
.cont2s1 h3{ font-size: 24px; font-weight: bold; margin-bottom: 42px; text-align: center;}
.cont2s1 p { font-size: 18px; font-weight: bold; margin-bottom: 32px;}

.cont2s1 p.day { float: left;}

.cont2Txt { padding: 40px;}
.cont2Txt h3 { font-weight: bold; font-size: 16px; margin-bottom: 24px;}
.cont2Txt p {  font-size: 14px; margin-bottom: 94px;}
.cont2Txt p:last-child{ font-size: 16px;}

.content3 {  background: #fff;   }
.cont3List {width: 1240px; margin: 0 auto;}
.content3 .cont3List li{ width: 620px;  height: 310px;float: left; margin-bottom: 80px; padding: 30px; }
.content3 .cont3List .cont3sec1{
    background: #a5aeb9;
}
.cont3List .cont3sec1 .cont3Txt h3 { color: #fff; font-weight: bold; font-size: 36px;}
.cont3List .cont3sec1 .cont3Txt h3:after{content: ""; height: 2px; width: 38px; background: #fff; display: block; margin: 28px 0;}
.cont3List .cont3sec1 .cont3Txt p{margin-bottom: 28px; color: #fff;font-size: 24px;}
.cont3List .cont3sec1 .cont3Txt button { background: none; border: 2px solid #fff; width: 100px; height: 40px; font-weight: bold;}
.cont3List .cont3sec1 .cont3Txt button a{display: block;color: #fff;}
.content3 .cont3List .cont3sec2{
    background: #222c41;
}
.cont3List .cont3sec2 .cont3Txt h3 { color: #fff; font-weight: bold; font-size: 36px;}
.cont3List .cont3sec2 .cont3Txt h3:after{content: ""; height: 2px; width: 38px; background: #fff; display: block; margin: 28px 0;}
.cont3List .cont3sec2 .cont3Txt p{margin-bottom:63px; color: #fff;font-size: 24px;}
.cont3List .cont3sec2 .cont3Txt button { background: none; border: 2px solid #fff; width: 100px; height: 40px; font-weight: bold;display: block;}
.cont3List .cont3sec2 .cont3Txt button a {display: block;color: #fff;}

#footer { width: 100%; height: 160px; display: block; background: #020D21;}
.footerWrap{width: 1240px; height: 160px; margin: 0 auto; padding: 30px 0;}
.footerLeft { float: left; display: block; padding-right: 88px; margin-top: 30px;}

.footerTxt {float: left; padding: 10px;}
.footerTxt li{float: left; position: relative; overflow: hidden; margin-bottom: 20px;}
.footerTxt li + li { padding-left: 20px;}

.footerTxt li a{ display: block; color: #fff; font-size: 16px; }


.footerTxt p{ display: block; color: #fff; font-size: 14px;}

.mfooter {margin: 0 auto; margin: 0 auto; padding: 30px;}
.mfooter img {
margin: 0 auto; }

.mfooter p{ text-align: center; display: block; color: #fff; font-size: 14px; padding: 20px;}

.top{
  position: fixed; width: 50px;height: 100px;
 background:#2a4272; right: 30px;bottom: 50px;
 border-radius:50px;display:flex;justify-content: center;align-items: center;
 animation:viewTop 0.5s infinite alternate;
 cursor:pointer;transition:0.3s;opacity:0;
 color:#fff;
}
.top.view{opacity: 1;}
@keyframes viewTop {
  to{transform: translateY(-20px);}
}




.contentTop {
  background-image: url();
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  width: 100%; _height: 330px;
}

.contentTop_Txt{ text-align: center; padding: 70px 0;}

.contentTop_Txt h2 { font-size: 36px; margin-bottom: 40px;}

.contentTop_Txt p{ font-size: 20px; display: block;}

.sub { width: 1240px; margin: 0 auto; bottom: 0;}
.sub_menu li { float: left; width: calc( 1240px / 5); background: #fff; }

.sub_menu li a { display: block; line-height: 70px;
  display: block;  color: #909090; text-align: center;
  font-size: 24px; font-weight: bold;
}

.menu_contWrap { padding: 50px 0;}
.menu_contWrap .subCont { display: none;}
.menu_contWrap .subCont:nth-child(1){ display: block;}

.sub_list{ width: 1240px; margin: 0 auto;}
.sub_list li{float: left; font-size: 18px;  }


.sub_list li + li { margin-left: 10px;}

.subCont h2 { text-align: center; font-size: 36px; font-weight: normal;
   }
.subCont h2:before { display: block;
  content: "";  background: #ffd600; height: 4px; width: 40px; margin: 34px auto;

}
.subCont {width: 1240px; margin: 0 auto;}
.subCont > img { margin: 0 auto; display: block; width: 100%;}

ul.tab li.active{ background:#FED600;}
ul.tab li.active a {  color: #fff}

 .sub li::after{content: ""; display: block; width: 100%; height: 2px; background: #fed600;}




.sub_company { width: 1240px; margin: 0 auto; bottom: 0;}
.sub_company li { float: left; width: calc( 1240px / 3); background: #fff; }

.sub_company li a { display: block; line-height: 70px;
  display: block;  color: #909090; text-align: center;
  font-size: 24px; font-weight: bold;
}

.companyTop{
  background-image: url();
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  width: 100%; _height: 330px;
}


.sub_news { width: 1240px; margin: 0 auto; bottom: 0;}
.sub_news li { float: left; width: calc( 1240px / 4); background: #fff; }

.sub_news li a { display: block; line-height: 70px;
  display: block;  color: #909090; text-align: center;
  font-size: 24px; font-weight: bold;
}

.sub_class {display: none;}
.sub_search, .sub_open {display: none;}

.newsTop {
  background-image: url(../images/racket-banner.jpg);
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  width: 100%; _height: 330px;
  color: #fff;
}

.classTop {
  background-image: url();
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  width: 100%; _height: 330px;
}

.soundTop {
  background-image: url();
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  width: 100%; _height: 330px;
}

.openTop {
  background-image: url();
  background-size:cover; background-position: center;
  background-repeat: no-repeat;
  width: 100%; _height: 330px;
}
.mb70{margin-bottom: 70px!important;}





.menu_overlay { display: none; }
.menu_overlay.rgba{display: block; opacity:1; background: rgba(0,0,0,0.5); z-index: 1; width: 100%; height: 100%; position: fixed; top: 0;}
